Prototyping our data acquisition pipeline

In [3]:
from bs4 import BeautifulSoup
import requests

In [7]:
target_website = "https://azurlane.koumakan.jp/List_of_Ships_by_Stats"
result = requests.get(target_website)
assert result.status_code == 200

In [5]:
result

In [14]:
# result.content
soup = BeautifulSoup(result.content)
print(soup.prettify())

<!DOCTYPE html>
<html class="client-nojs" dir="ltr" lang="en-GB">
 <head>
  <meta charset="utf-8"/>
  <title>
   List of Ships by Stats - Azur Lane Wiki
  </title>
  <script>
   document.documentElement.className="client-js";RLCONF={"wgBreakFrames":!1,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgRequestId":"72e34f1f67ae4642468e68d3","wgCSPNonce":!1,"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":!1,"wgNamespaceNumber":0,"wgPageName":"List_of_Ships_by_Stats","wgTitle":"List of Ships by Stats","wgCurRevisionId":94628,"wgRevisionId":94628,"wgArticleId":1171,"wgIsArticle":!0,"wgIsRedirect":!1,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Reference"],"wgPageContentLanguage":"en-gb","wgPageContentModel":"wikitext","wgRelevantPageName":"List_of_Ships_by_Stats","wgRelevantArticleId":1171,"wgIsProbablyEditable":!1,"wgRelevantPageIsProbablyEditable":!1,"wgRestrictionEdit":[],"wgRestrictionMove":[],"wgMediaViewerOnClick":!0,
"wgMediaViewerEnabledByDefault":!0,"wgMFDisplayWikibaseDescriptions":{"search":!1,"nearby":!1,"watchlist":!1,"tagline":!1},"wgCargoMapClusteringMinimum":80,"wgCargoMonthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"wgCargoMonthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"wgCargoWeekDays":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"wgCargoWeekDaysShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"wgVisualEditor":{"pageLanguageCode":"en-GB","pageLanguageDir":"ltr","pageVariantFallbacks":"en-gb"},"simpleBatchUploadMaxFilesPerBatch":{"*":50},"wgSmjSize":110,"wgSmjUseChem":!0,"wgSmjShowMathMenu":!1,"wgSmjInlineMath":[["[math]","[/math]"]],"wgEditSubmitButtonLabelPublish":!1};RLSTATE={"site.styles":"ready","noscript":"ready","user.styles":"ready","user":"ready","user.options":"loading","skins.vector.styles.legacy":"ready",
"jquery.tablesorter.styles":"ready","jquery.makeCollapsible.styles":"ready","mediawiki.toc.styles":"ready","ext.visualEditor.desktopArticleTarget.noscript":"ready"};RLPAGEMODULES=["ext.SmjCDN","ext.Tabber","site","mediawiki.page.startup","mediawiki.page.ready","jquery.tablesorter","jquery.makeCollapsible","mediawiki.toc","skins.vector.legacy.js","mmv.head","mmv.bootstrap.autostart","ext.visualEditor.desktopArticleTarget.init","ext.visualEditor.targetLoader"];
  </script>
  <script>
   (RLQ=window.RLQ||[]).push(function(){mw.loader.implement("user.options@1hzgi",function($,jQuery,require,module){/*@nomin*/mw.user.tokens.set({"patrolToken":"+\\","watchToken":"+\\","csrfToken":"+\\"});mw.user.options.set({"variant":"en-gb"});
});});
  </script>
  <link href="/w/load.php?lang=en-gb&amp;modules=ext.visualEditor.desktopArticleTarget.noscript%7Cjquery.makeCollapsible.styles%7Cjquery.tablesorter.styles%7Cmediawiki.toc.styles%7Cskins.vector.styles.legacy&amp;only=styles&amp;skin=vector" rel="stylesheet"/>
  <script async="" src="/w/load.php?lang=en-gb&amp;modules=startup&amp;only=scripts&amp;raw=1&amp;skin=vector">
  </script>
  <meta content="" name="ResourceLoaderDynamicStyles"/>
  <link href="/w/load.php?lang=en-gb&amp;modules=site.styles&amp;only=styles&amp;skin=vector" rel="stylesheet"/>
  <meta content="MediaWiki 1.35.0" name="generator"/>
  <meta content="This is a page lists all ships and their level 1, level 100, and level 120 stats including attributes hidden from players." name="description"/>
  <link href="/akashi-apple-touch-icon.png" rel="apple-touch-icon"/>
  <link href="/favicon.ico" rel="shortcut icon"/>
  <link href="/w/opensearch_desc.php" rel="search" title="Azur Lane Wiki (en-gb)" type="application/opensearchdescription+xml"/>
  <link href="https://azurlane.koumakan.jp/w/api.php?action=rsd" rel="EditURI" type="application/rsd+xml"/>
  <link href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license"/>
  <link href="/w/index.php?title=Special:RecentChanges&amp;feed=atom" rel="alternate" title="Azur Lane Wiki Atom feed" type="application/atom+xml"/>
  <meta content="article" property="og:type"/>
  <meta content="Azur Lane Wiki" property="og:site_name"/>
  <meta content="List of Ships by Stats" property="og:title"/>
  <meta content="This is a page lists all ships and their level 1, level 100, and level 120 stats including attributes hidden from players." property="og:description"/>
  <meta content="https://azurlane.koumakan.jp/List_of_Ships_by_Stats" property="og:url"/>
  <meta content="List of Ships by Stats - Azur Lane Wiki" property="og:title"/>
  <meta content="Azur Lane Wiki" property="og:site_name"/>
  <meta content="https://azurlane.koumakan.jp/List_of_Ships_by_Stats" property="og:url"/>
  <meta content="This is a page lists all ships and their level 1, level 100, and level 120 stats including attributes hidden from players." property="og:description"/>
  <meta content="https://azurlane.koumakan.jp/w/resources/assets/azurlogo.png" property="og:image"/>
  <meta content="2019-09-20T18:12:17Z" property="article:modified_time"/>
  <meta content="2019-09-20T18:12:17Z" property="article:published_time"/>
  <meta content="List of Ships by Stats - Azur Lane Wiki" property="twitter:title"/>
  <meta content="This is a page lists all ships and their level 1, level 100, and level 120 stats including attributes hidden from players." property="twitter:description"/>
  <meta content="https://azurlane.koumakan.jp/w/resources/assets/azurlogo.png" property="twitter:image"/>
  <meta content="summary_large_image" property="twitter:card"/>
  <script type="application/ld+json">
   {"@context":"http:\/\/schema.org","@type":"article","name":"List of Ships by Stats - Azur Lane Wiki","headline":"List of Ships by Stats - Azur Lane Wiki","mainEntityOfPage":"List of Ships by Stats","identifier":"https:\/\/azurlane.koumakan.jp\/List_of_Ships_by_Stats","url":"https:\/\/azurlane.koumakan.jp\/List_of_Ships_by_Stats","description":"This is a page lists all ships and their level 1, level 100, and level 120 stats including attributes hidden from players.","dateModified":"2019-09-20T18:12:17Z","datePublished":"2019-09-20T18:12:17Z","image":{"@type":"ImageObject","url":"https:\/\/azurlane.koumakan.jp\/w\/resources\/assets\/azurlogo.png"},"author":{"@type":"Organization","name":"Azur Lane Wiki","url":"https:\/\/azurlane.koumakan.jp","logo":{"@type":"ImageObject","url":"https:\/\/azurlane.koumakan.jp\/w\/resources\/assets\/azurlogo.png","caption":"Azur Lane Wiki"}},"publisher":{"@type":"Organization","name":"Azur Lane Wiki","url":"https:\/\/azurlane.koumakan.jp","logo":{"@type":"ImageObject","url":"https:\/\/azurlane.koumakan.jp\/w\/resources\/assets\/azurlogo.png","caption":"Azur Lane Wiki"}},"potentialAction":{"@type":"SearchAction","target":"https:\/\/azurlane.koumakan.jp\/w\/index.php?title=Special:Search&search={search_term}","query-input":"required name=search_term"}}
  </script>
  <!--[if lt IE 9]><script src="/w/resources/lib/html5shiv/html5shiv.js"></script><![endif]-->
 </head>
 <body class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject page-List_of_Ships_by_Stats rootpage-List_of_Ships_by_Stats skin-vector action-view skin-vector-legacy minerva--history-page-action-enabled">
  <div class="noprint" id="mw-page-base">
  </div>
  <div class="noprint" id="mw-head-base">
  </div>
  <div class="mw-body" id="content" role="main">
   <a id="top">
   </a>
   <div class="mw-body-content" id="siteNotice">
   </div>
   <div class="mw-indicators mw-body-content">
   </div>
   <h1 class="firstHeading" id="firstHeading" lang="en-GB">
    List of Ships by Stats
   </h1>
   <div class="mw-body-content" id="bodyContent">
    <div class="noprint" id="siteSub">
     From Azur Lane Wiki
    </div>
    <div id="contentSub">
    </div>
    <div id="contentSub2">
    </div>
    <div id="jump-to-nav">
    </div>
    <a class="mw-jump-link" href="#mw-head">
     Jump to navigation
    </a>
    <a class="mw-jump-link" href="#searchInput">
     Jump to search
    </a>
    <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en-GB">
     <div class="mw-parser-output">
      <div class="azl_box lavender" style="margin-top:0px;">
       <div class="azl_box_head" style="color:#000;">
        <div class="azl_box_extend">
         <div class="azl_box_img">
          <img alt="Home head ships.png" data-file-height="60" data-file-width="47" decoding="async" height="60" loading="lazy" src="/w/images/b/bc/Home_head_ships.png" width="47"/>
         </div>
         <div class="azl_box_title">
          Ship Charts
         </div>
         <div class="clear">
         </div>
        </div>
       </div>
       <div class="azl_box_body" style="">
        <div class="azl row" style="padding:10px 10px 0px 10px; margin:0px;">
         <div class="azl col col-4">
          <div class="azl_li">
           <div class="azl_li_img">
            <a href="/List_of_Ships" title="List of Ships">
             <img alt="Home item vamp.png" data-file-height="40" data-file-width="40" decoding="async" height="20" loading="lazy" src="/w/images/thumb/4/46/Home_item_vamp.png/20px-Home_item_vamp.png" srcset="/w/images/thumb/4/46/Home_item_vamp.png/30px-Home_item_vamp.png 1.5x, /w/images/4/46/Home_item_vamp.png 2x" width="20"/>
            </a>
           </div>
           <div class="azl_li_text">
            <a href="/List_of_Ships" title="List of Ships">
             Basic Ship Attributes
            </a>
           </div>
          </div>
          <div class="azl_li">
           <div class="azl_li_img">
            <a href="/List_of_Ships_with_Skills" title="List of Ships with Skills">
             <img alt="Home item vamp.png" data-file-height="40" data-file-width="40" decoding="async" height="20" loading="lazy" src="/w/images/thumb/4/46/Home_item_vamp.png/20px-Home_item_vamp.png" srcset="/w/images/thumb/4/46/Home_item_vamp.png/30px-Home_item_vamp.png 1.5x, /w/images/4/46/Home_item_vamp.png 2x" width="20"/>
            </a>
           </div>
           <div class="azl_li_text">
            <a href="/List_of_Ships_with_Skills" title="List of Ships with Skills">
             Ship Skill List
            </a>
           </div>
          </div>
          <div class="azl_li">
           <div class="azl_li_img">
            <a href="/List_of_Ships_by_Stats" title="List of Ships by Stats">
             <img alt="Home item vamp.png" data-file-height="40" data-file-width="40" decoding="async" height="20" loading="lazy" src="/w/images/thumb/4/46/Home_item_vamp.png/20px-Home_item_vamp.png" srcset="/w/images/thumb/4/46/Home_item_vamp.png/30px-Home_item_vamp.png 1.5x, /w/images/4/46/Home_item_vamp.png 2x" width="20"/>
            </a>
           </div>
           <div class="azl_li_text">
            <a class="mw-selflink selflink">
             List of Ships by Stats
            </a>
           </div>
          </div>
          <div class="azl_li">
           <div class="azl_li_img">
            <a href="/List_of_Ships_by_Airspace_Control_Value" title="List of Ships by Airspace Control Value">
             <img alt="Home item vamp.png" data-file-height="40" data-file-width="40" decoding="async" height="20" loading="lazy" src="/w/images/thumb/4/46/Home_item_vamp.png/20px-Home_item_vamp.png" srcset="/w/images/thumb/4/46/Home_item_vamp.png/30px-Home_item_vamp.png 1.5x, /w/images/4/46/Home_item_vamp.png 2x" width="20"/>
            </a>
           </div>
           <div class="azl_li_text">
            <a href="/List_of_Ships_by_Airspace_Control_Value" title="List of Ships by Airspace Control Value">
             List of Ships by ACV
            </a>
           </div>
          </div>
         </div>
         <div class="azl col col-4">
          <div class="azl_li">
           <div class="azl_li_img">
            <a href="/List_of_Ships_by_Image" title="List of Ships by Image">
             <img alt="Home item vamp.png" data-file-height="40" data-file-width="40" decoding="async" height="20" loading="lazy" src="/w/images/thumb/4/46/Home_item_vamp.png/20px-Home_item_vamp.png" srcset="/w/images/thumb/4/46/Home_item_vamp.png/30px-Home_item_vamp.png 1.5x, /w/images/4/46/Home_item_vamp.png 2x" width="20"/>
            </a>
           </div>
           <div class="azl_li_text">
            <a href="/List_of_Ships_by_Image" title="List of Ships by Image">
             Graphical Ship List
            </a>
           </div>
          </div>
          <div class="azl_li">
           <div class="azl_li_img">
            <a href="/Ship_Drop_Table" title="Ship Drop Table">
             <img alt="Home item vamp.png" data-file-height="40" data-file-width="40" decoding="async" height="20" loading="lazy" src="/w/images/thumb/4/46/Home_item_vamp.png/20px-Home_item_vamp.png" srcset="/w/images/thumb/4/46/Home_item_vamp.png/30px-Home_item_vamp.png 1.5x, /w/images/4/46/Home_item_vamp.png 2x" width="20"/>
            </a>
           </div>
           <div class="azl_li_text">
            <a href="/Ship_Drop_Table" title="Ship Drop Table">
             How to Get Each Ship
            </a>
           </div>
          </div>
          <div class="azl_li">
           <div class="azl_li_img">
            <a href="/List_of_Ship_Drops" title="List of Ship Drops">
             <img alt="Home item vamp.png" data-file-height="40" data-file-width="40" decoding="async" height="20" loading="lazy" src="/w/images/thumb/4/46/Home_item_vamp.png/20px-Home_item_vamp.png" srcset="/w/images/thumb/4/46/Home_item_vamp.png/30px-Home_item_vamp.png 1.5x, /w/images/4/46/Home_item_vamp.png 2x" width="20"/>
            </a>
           </div>
           <div class="azl_li_text">
            <a href="/List_of_Ship_Drops" title="List of Ship Drops">
             Ship Drops by Story Map
            </a>
           </div>
          </div>
          <div class="azl_li">
           <div class="azl_li_img">
            <a href="/Servers#Ships" title="Servers#Ships">
             <img alt="Home item vamp.png" data-file-height="40" data-file-width="40" decoding="async" height="20" loading="lazy" src="/w/images/thumb/4/46/Home_item_vamp.png/20px-Home_item_vamp.png" srcset="/w/images/thumb/4/46/Home_item_vamp.png/30px-Home_item_vamp.png 1.5x, /w/images/4/46/Home_item_vamp.png 2x" width="20"/>
            </a>
           </div>
           <div class="azl_li_text">
            <a href="/Servers#Ships" title="Servers">
             Missing Ships by Client
            </a>
           </div>
          </div>
         </div>
         <div class="azl col col-4">
          <div class="azl_li">
           <div class="azl_li_img">
            <a href="/Building#List_of_Ships_by_Construction_Time" title="Building#List of Ships by Construction Time">
             <img alt="Home item vamp.png" data-file-height="40" data-file-width="40" decoding="async" height="20" loading="lazy" src="/w/images/thumb/4/46/Home_item_vamp.png/20px-Home_item_vamp.png" srcset="/w/images/thumb/4/46/Home_item_vamp.png/30px-Home_item_vamp.png 1.5x, /w/images/4/46/Home_item_vamp.png 2x" width="20"/>
            </a>
           </div>
           <div class="azl_li_text">
            <a href="/Building#List_of_Ships_by_Construction_Time" title="Building">
             Ships grouped by Timer
            </a>
           </div>
          </div>
          <div class="azl_li">
           <div class="azl_li_img">
            <a href="/List_of_Ships_by_Class" title="List of Ships by Class">
             <img alt="Home item vamp.png" data-file-height="40" data-file-width="40" decoding="async" height="20" loading="lazy" src="/w/images/thumb/4/46/Home_item_vamp.png/20px-Home_item_vamp.png" srcset="/w/images/thumb/4/46/Home_item_vamp.png/30px-Home_item_vamp.png 1.5x, /w/images/4/46/Home_item_vamp.png 2x" width="20"/>
            </a>
           </div>
           <div class="azl_li_text">
            <a href="/List_of_Ships_by_Class" title="List of Ships by Class">
             Ships grouped by Class
            </a>
           </div>
          </div>
          <div class="azl_li">
           <div class="azl_li_img">
            <a href="/List_of_Ships_by_Type" title="List of Ships by Type">
             <img alt="Home item vamp.png" data-file-height="40" data-file-width="40" decoding="async" height="20" loading="lazy" src="/w/images/thumb/4/46/Home_item_vamp.png/20px-Home_item_vamp.png" srcset="/w/images/thumb/4/46/Home_item_vamp.png/30px-Home_item_vamp.png 1.5x, /w/images/4/46/Home_item_vamp.png 2x" width="20"/>
            </a>
           </div>
           <div class="azl_li_text">
            <a href="/List_of_Ships_by_Type" title="List of Ships by Type">
             Ships grouped by Type
            </a>
           </div>
          </div>
          <div class="azl_li">
           <div class="azl_li_img">
            <a href="/List_of_Ships_by_Weapon_Efficiency" title="List of Ships by Weapon Efficiency">
             <img alt="Home item vamp.png" data-file-height="40" data-file-width="40" decoding="async" height="20" loading="lazy" src="/w/images/thumb/4/46/Home_item_vamp.png/20px-Home_item_vamp.png" srcset="/w/images/thumb/4/46/Home_item_vamp.png/30px-Home_item_vamp.png 1.5x, /w/images/4/46/Home_item_vamp.png 2x" width="20"/>
            </a>
           </div>
           <div class="azl_li_text">
            <a href="/List_of_Ships_by_Weapon_Efficiency" title="List of Ships by Weapon Efficiency">
             Ships grouped by Efficiency
            </a>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <p>
       <br/>
       This is a page lists all ships and their level 1, level 100, and level 120 stats including attributes hidden from players.
      </p>
      <p>
       Level 100 and 120 stats are based on the assumption that the ship has reached 100 Affinity.
      </p>
      <p>
       To sort by multiple columns, first sort by the highest-priority sort (by pressing on the headers of the table) then Shift + Click on each of the subsequent priority sorts.
      </p>
      <table class="azltable toggle-right mw-collapsible mw-collapsed" style="width:248px">
       <caption>
        Legend
       </caption>
       <tbody>
        <tr>
         <th>
          Icon
         </th>
         <th>
          Definition
         </th>
        </tr>
        <tr>
         <th>
          <img alt="Health" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/8/8b/Duration.png/25px-Duration.png" srcset="/w/images/thumb/8/8b/Duration.png/38px-Duration.png 1.5x, /w/images/thumb/8/8b/Duration.png/50px-Duration.png 2x" title="Health" width="25"/>
         </th>
         <td>
          Health
         </td>
        </tr>
        <tr>
         <th>
          <img alt="Firepower" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/d/d5/Firepower.png/25px-Firepower.png" srcset="/w/images/thumb/d/d5/Firepower.png/38px-Firepower.png 1.5x, /w/images/thumb/d/d5/Firepower.png/50px-Firepower.png 2x" title="Firepower" width="25"/>
         </th>
         <td>
          Firepower
         </td>
        </tr>
        <tr>
         <th>
          <img alt="Anti-air" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/0/0f/AntiAir.png/25px-AntiAir.png" srcset="/w/images/thumb/0/0f/AntiAir.png/38px-AntiAir.png 1.5x, /w/images/thumb/0/0f/AntiAir.png/50px-AntiAir.png 2x" title="Anti-air" width="25"/>
         </th>
         <td>
          AA
         </td>
        </tr>
        <tr>
         <th>

In [12]:
tables = soup.find("table")
tables

<table class="azltable toggle-right mw-collapsible mw-collapsed" style="width:248px">
<caption>Legend
</caption>
<tbody><tr>
<th>Icon
</th>
<th>Definition
</th></tr>
<tr>
<th><img alt="Health" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/8/8b/Duration.png/25px-Duration.png" srcset="/w/images/thumb/8/8b/Duration.png/38px-Duration.png 1.5x, /w/images/thumb/8/8b/Duration.png/50px-Duration.png 2x" title="Health" width="25"/>
</th>
<td>Health
</td></tr>
<tr>
<th><img alt="Firepower" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/d/d5/Firepower.png/25px-Firepower.png" srcset="/w/images/thumb/d/d5/Firepower.png/38px-Firepower.png 1.5x, /w/images/thumb/d/d5/Firepower.png/50px-Firepower.png 2x" title="Firepower" width="25"/>
</th>
<td>Firepower
</td></tr>
<tr>
<th><img alt="Anti-air" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/0/0f/AntiAir.png/25px-AntiAir.png" srcset="/w/images/thumb/0/0f/AntiAir.png/38px-AntiAir.png 1.5x, /w/images/thumb/0/0f/AntiAir.png/50px-AntiAir.png 2x" title="Anti-air" width="25"/>
</th>
<td>AA
</td></tr>
<tr>
<th><img alt="Torpedo" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/4/40/Torpedo.png/25px-Torpedo.png" srcset="/w/images/thumb/4/40/Torpedo.png/38px-Torpedo.png 1.5x, /w/images/thumb/4/40/Torpedo.png/50px-Torpedo.png 2x" title="Torpedo" width="25"/>
</th>
<td>Torpedo
</td></tr>
<tr>
<th><img alt="Evasion" data-file-height="63" data-file-width="63" decoding="async" height="25" loading="lazy" src="/w/images/thumb/d/d2/Evasion.png/25px-Evasion.png" srcset="/w/images/thumb/d/d2/Evasion.png/38px-Evasion.png 1.5x, /w/images/thumb/d/d2/Evasion.png/50px-Evasion.png 2x" title="Evasion" width="25"/>
</th>
<td>Evasion
</td></tr>
<tr>
<th><img alt="Aviation" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/6/6a/Aviation.png/25px-Aviation.png" srcset="/w/images/thumb/6/6a/Aviation.png/38px-Aviation.png 1.5x, /w/images/thumb/6/6a/Aviation.png/50px-Aviation.png 2x" title="Aviation" width="25"/>
</th>
<td>Air Power
</td></tr>
<tr>
<th><img alt="Oil consumption" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/9/90/Consumption.png/25px-Consumption.png" srcset="/w/images/thumb/9/90/Consumption.png/38px-Consumption.png 1.5x, /w/images/thumb/9/90/Consumption.png/50px-Consumption.png 2x" title="Oil consumption" width="25"/>
</th>
<td>Oil Consumption
</td></tr>
<tr>
<th><img alt="Reload" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/e/e3/Refill.png/25px-Refill.png" srcset="/w/images/thumb/e/e3/Refill.png/38px-Refill.png 1.5x, /w/images/thumb/e/e3/Refill.png/50px-Refill.png 2x" title="Reload" width="25"/>
</th>
<td>Reload
</td></tr>
<tr>
<th><img alt="Armor" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/0/06/Armor.png/25px-Armor.png" srcset="/w/images/thumb/0/06/Armor.png/38px-Armor.png 1.5x, /w/images/thumb/0/06/Armor.png/50px-Armor.png 2x" title="Armor" width="25"/>
</th>
<td>Armor
</td></tr>
<tr>
<th><img alt="Anti-submarine warfare" data-file-height="52" data-file-width="63" decoding="async" height="21" loading="lazy" src="/w/images/thumb/1/16/ASW.png/25px-ASW.png" srcset="/w/images/thumb/1/16/ASW.png/38px-ASW.png 1.5x, /w/images/thumb/1/16/ASW.png/50px-ASW.png 2x" title="Anti-submarine warfare" width="25"/>
</th>
<td>Anti-Submarine Warfare (ASW)
</td></tr>
<tr>
<th><img alt="Oxygen" data-file-height="106" data-file-width="129" decoding="async" height="21" loading="lazy" src="/w/images/thumb/1/19/Oxygen.png/25px-Oxygen.png" srcset="/w/images/thumb/1/19/Oxygen.png/38px-Oxygen.png 1.5x, /w/images/thumb/1/19/Oxygen.png/50px-Oxygen.png 2x" title="Oxygen" width="25"/>
</th>
<td>Oxygen
</td></tr>
<tr>
<th><img alt="Ammunition" data-file-height="110" data-file-width="104" decoding="async" height="25" loading="lazy" src="/w/images/thumb/0/00/Ammunition.png/24px-Ammunition.png" srcset="/w/images/thumb/0/00/Ammunition.png/36px-Ammunition.png 1.5x, /w/images/thumb/0/00/Ammunition.png/47px-Ammunition.png 2x" title="Ammunition" width="24"/>
</th>
<td>Ammo
</td></tr>
<tr>
<th><img alt="Luck" data-file-height="37" data-file-width="36" decoding="async" height="25" loading="lazy" src="/w/images/thumb/f/f0/Luck.png/24px-Luck.png" srcset="/w/images/f/f0/Luck.png 1.5x" title="Luck" width="24"/>
</th>
<td>Luck
</td></tr>
<tr>
<th><b>Acc</b>
</th>
<td>Accuracy/Hit (Hidden stat)
</td></tr>
<tr>
<th><b>Spd</b>
</th>
<td>Speed (Hidden stat)
</td></tr></tbody></table>

In [11]:
tables

<table class="azltable toggle-right mw-collapsible mw-collapsed" style="width:248px">
<caption>Legend
</caption>
<tbody><tr>
<th>Icon
</th>
<th>Definition
</th></tr>
<tr>
<th><img alt="Health" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/8/8b/Duration.png/25px-Duration.png" srcset="/w/images/thumb/8/8b/Duration.png/38px-Duration.png 1.5x, /w/images/thumb/8/8b/Duration.png/50px-Duration.png 2x" title="Health" width="25"/>
</th>
<td>Health
</td></tr>
<tr>
<th><img alt="Firepower" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/d/d5/Firepower.png/25px-Firepower.png" srcset="/w/images/thumb/d/d5/Firepower.png/38px-Firepower.png 1.5x, /w/images/thumb/d/d5/Firepower.png/50px-Firepower.png 2x" title="Firepower" width="25"/>
</th>
<td>Firepower
</td></tr>
<tr>
<th><img alt="Anti-air" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/0/0f/AntiAir.png/25px-AntiAir.png" srcset="/w/images/thumb/0/0f/AntiAir.png/38px-AntiAir.png 1.5x, /w/images/thumb/0/0f/AntiAir.png/50px-AntiAir.png 2x" title="Anti-air" width="25"/>
</th>
<td>AA
</td></tr>
<tr>
<th><img alt="Torpedo" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/4/40/Torpedo.png/25px-Torpedo.png" srcset="/w/images/thumb/4/40/Torpedo.png/38px-Torpedo.png 1.5x, /w/images/thumb/4/40/Torpedo.png/50px-Torpedo.png 2x" title="Torpedo" width="25"/>
</th>
<td>Torpedo
</td></tr>
<tr>
<th><img alt="Evasion" data-file-height="63" data-file-width="63" decoding="async" height="25" loading="lazy" src="/w/images/thumb/d/d2/Evasion.png/25px-Evasion.png" srcset="/w/images/thumb/d/d2/Evasion.png/38px-Evasion.png 1.5x, /w/images/thumb/d/d2/Evasion.png/50px-Evasion.png 2x" title="Evasion" width="25"/>
</th>
<td>Evasion
</td></tr>
<tr>
<th><img alt="Aviation" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/6/6a/Aviation.png/25px-Aviation.png" srcset="/w/images/thumb/6/6a/Aviation.png/38px-Aviation.png 1.5x, /w/images/thumb/6/6a/Aviation.png/50px-Aviation.png 2x" title="Aviation" width="25"/>
</th>
<td>Air Power
</td></tr>
<tr>
<th><img alt="Oil consumption" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/9/90/Consumption.png/25px-Consumption.png" srcset="/w/images/thumb/9/90/Consumption.png/38px-Consumption.png 1.5x, /w/images/thumb/9/90/Consumption.png/50px-Consumption.png 2x" title="Oil consumption" width="25"/>
</th>
<td>Oil Consumption
</td></tr>
<tr>
<th><img alt="Reload" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/e/e3/Refill.png/25px-Refill.png" srcset="/w/images/thumb/e/e3/Refill.png/38px-Refill.png 1.5x, /w/images/thumb/e/e3/Refill.png/50px-Refill.png 2x" title="Reload" width="25"/>
</th>
<td>Reload
</td></tr>
<tr>
<th><img alt="Armor" data-file-height="62" data-file-width="62" decoding="async" height="25" loading="lazy" src="/w/images/thumb/0/06/Armor.png/25px-Armor.png" srcset="/w/images/thumb/0/06/Armor.png/38px-Armor.png 1.5x, /w/images/thumb/0/06/Armor.png/50px-Armor.png 2x" title="Armor" width="25"/>
</th>
<td>Armor
</td></tr>
<tr>
<th><img alt="Anti-submarine warfare" data-file-height="52" data-file-width="63" decoding="async" height="21" loading="lazy" src="/w/images/thumb/1/16/ASW.png/25px-ASW.png" srcset="/w/images/thumb/1/16/ASW.png/38px-ASW.png 1.5x, /w/images/thumb/1/16/ASW.png/50px-ASW.png 2x" title="Anti-submarine warfare" width="25"/>
</th>
<td>Anti-Submarine Warfare (ASW)
</td></tr>
<tr>
<th><img alt="Oxygen" data-file-height="106" data-file-width="129" decoding="async" height="21" loading="lazy" src="/w/images/thumb/1/19/Oxygen.png/25px-Oxygen.png" srcset="/w/images/thumb/1/19/Oxygen.png/38px-Oxygen.png 1.5x, /w/images/thumb/1/19/Oxygen.png/50px-Oxygen.png 2x" title="Oxygen" width="25"/>
</th>
<td>Oxygen
</td></tr>
<tr>
<th><img alt="Ammunition" data-file-height="110" data-file-width="104" decoding="async" height="25" loading="lazy" src="/w/images/thumb/0/00/Ammunition.png/24px-Ammunition.png" srcset="/w/images/thumb/0/00/Ammunition.png/36px-Ammunition.png 1.5x, /w/images/thumb/0/00/Ammunition.png/47px-Ammunition.png 2x" title="Ammunition" width="24"/>
</th>
<td>Ammo
</td></tr>
<tr>
<th><img alt="Luck" data-file-height="37" data-file-width="36" decoding="async" height="25" loading="lazy" src="/w/images/thumb/f/f0/Luck.png/24px-Luck.png" srcset="/w/images/f/f0/Luck.png 1.5x" title="Luck" width="24"/>
</th>
<td>Luck
</td></tr>
<tr>
<th><b>Acc</b>
</th>
<td>Accuracy/Hit (Hidden stat)
</td></tr>
<tr>
<th><b>Spd</b>
</th>
<td>Speed (Hidden stat)
</td></tr></tbody></table>